@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
/**** Common ****/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: calc(15px + 0.390625vw);
  scroll-behavior: smooth;
}

body {
  font-family: Poppins, sans-serif;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

p {
  font-size: 1rem;
}

li {
  list-style-type: none;
}

a {
  font-size: 0.8rem;
  text-decoration: none;
}

.container {
  padding: 0 10px;
  margin: 0 auto;
  max-width: 1100px;
}

.btn {
  padding: 0.4rem 0.8rem;
  font-family: Poppins, sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 6px;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
}
.btn-primary {
  background-color: #ff8303;
  border: 0.2rem solid #ff8303;
  color: #fff;
}
.btn-primary:hover {
  color: #ff8303;
  border-color: #ff8303;
  background-color: transparent;
}
.btn-alt {
  color: #fff;
  background-color: transparent;
  border: 0.2rem solid #fff;
}
.btn-alt:hover {
  color: #ff8303;
  background-color: #fff;
}

@media screen and (min-width: 0px) {
  /**** Header ****/
  header {
    height: 100vh;
  }
  /**** Navbar ****/
  .nav {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(27, 26, 23);
  }
  .nav .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .nav .nav__logo h1 {
    display: flex;
    font-size: 1.5rem;
    color: #fff;
  }
  .nav .nav__logo h1 span:nth-child(1) {
    -webkit-animation: anim-letters 5s 0.1s infinite;
            animation: anim-letters 5s 0.1s infinite;
  }
  .nav .nav__logo h1 span:nth-child(2) {
    -webkit-animation: anim-letters 5s 0.2s infinite;
            animation: anim-letters 5s 0.2s infinite;
  }
  .nav .nav__logo h1 span:nth-child(3) {
    -webkit-animation: anim-letters 5s 0.3s infinite;
            animation: anim-letters 5s 0.3s infinite;
  }
  .nav .nav__logo h1 span:nth-child(4) {
    -webkit-animation: anim-letters 5s 0.4s infinite;
            animation: anim-letters 5s 0.4s infinite;
  }
  .nav .nav__logo h1 span:nth-child(5) {
    -webkit-animation: anim-letters 5s 0.5s infinite;
            animation: anim-letters 5s 0.5s infinite;
  }
  .nav .nav__logo h1 span:nth-child(6) {
    -webkit-animation: anim-letters 5s 0.6s infinite;
            animation: anim-letters 5s 0.6s infinite;
  }
  .nav .nav__logo h1 span:nth-child(7) {
    color: rgb(255, 131, 3);
    -webkit-animation: anim-letters 5s 0.7s infinite;
            animation: anim-letters 5s 0.7s infinite;
  }
  .nav .nav__logo h1 span:nth-child(8) {
    -webkit-animation: anim-letters 5s 0.8s infinite;
            animation: anim-letters 5s 0.8s infinite;
  }
  .nav .nav__logo h1 span:nth-child(9) {
    -webkit-animation: anim-letters 5s 0.9s infinite;
            animation: anim-letters 5s 0.9s infinite;
  }
  .nav .nav__menu {
    position: absolute;
    top: 60px;
    right: -105vw;
    padding: 1.5rem 0;
    text-align: center;
    width: 100%;
    height: 100vh;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgb(27, 26, 23);
    transition: 0.3s ease;
    z-index: 10;
  }
  .nav .nav__menu-item {
    padding: 1.5rem 0;
  }
  .nav .nav__menu-item a {
    font-size: 1.1rem;
    color: #fff;
    transition: 0.3s ease;
  }
  .nav .nav__menu-item a:hover {
    color: #777;
  }
  .nav .nav__menu .social-media {
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
  }
  .nav .nav__menu .social-media a {
    padding: 0.7rem;
  }
  .nav .nav__menu .social-media a i {
    color: #fff;
  }
  .nav .nav__btn i {
    font-size: 1.6rem;
    color: #fff;
  }
  .nav .hide {
    display: none;
  }
  /**** Hero ****/
  .hero {
    position: relative;
    width: 100%;
    height: 100%;
    background: url("../images/hero-1200.webp") center no-repeat;
    background-size: cover;
  }
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 26, 23, 0.4);
  }
  .hero .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 5;
  }
  .hero .container .hero__text {
    width: 100%;
    padding: 0 1rem 1.5rem;
  }
  .hero .container .hero__text-heading {
    color: #fff;
    filter: blur(5px);
    transform: translateX(-100%);
    opacity: 0;
    transition: all 1s;
  }
  .hero .container .hero__text-heading.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
  .hero .container .hero__text-heading .perfect {
    display: inline-flex;
  }
  .hero .container .hero__text-heading .perfect .letter {
    -webkit-animation: color-animation 4s linear infinite;
            animation: color-animation 4s linear infinite;
  }
  .hero .container .hero__text-heading .perfect .letter-color-1 {
    --color-1: #36ae7c;
    --color-2: #f9d923;
    --color-3: #eb5353;
  }
  .hero .container .hero__text-heading .perfect .letter-color-2 {
    --color-1: #ffeba1;
    --color-2: #95dac1;
    --color-3: #6f69ac;
  }
  .hero .container .hero__text-heading .perfect .letter-color-3 {
    --color-1: #3db2ff;
    --color-2: #ffedda;
    --color-3: #ffb830;
  }
  @-webkit-keyframes color-animation {
    0% {
      color: var(--color-1);
    }
    1% {
      color: var(--color-1);
    }
    32% {
      color: var(--color-1);
    }
    33% {
      color: var(--color-2);
    }
    65% {
      color: var(--color-2);
    }
    66% {
      color: var(--color-3);
    }
    99% {
      color: var(--color-3);
    }
    100% {
      color: var(--color-1);
    }
  }
  @keyframes color-animation {
    0% {
      color: var(--color-1);
    }
    1% {
      color: var(--color-1);
    }
    32% {
      color: var(--color-1);
    }
    33% {
      color: var(--color-2);
    }
    65% {
      color: var(--color-2);
    }
    66% {
      color: var(--color-3);
    }
    99% {
      color: var(--color-3);
    }
    100% {
      color: var(--color-1);
    }
  }
  .hero .container button {
    margin-left: 1rem;
    filter: blur(5px);
    transform: translateX(-100%);
    opacity: 0;
    transition: all 1s;
  }
  .hero .container button:hover {
    border-color: #fff;
    color: #fff;
  }
  .hero .container button.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
  @-webkit-keyframes anim-letters {
    0% {
      transform: translateY(0);
    }
    10% {
      transform: translateY(0);
    }
    15% {
      transform: translateY(-40%);
    }
    20% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes anim-letters {
    0% {
      transform: translateY(0);
    }
    10% {
      transform: translateY(0);
    }
    15% {
      transform: translateY(-40%);
    }
    20% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(0);
    }
  }
  /**** Tours ****/
  .featured-tours {
    width: 100%;
    min-height: 100vh;
    padding: 4rem 0;
    background-color: rgba(240, 227, 202, 0.3);
  }
  .featured-tours .container {
    width: 100%;
    height: 100%;
  }
  .featured-tours__heading {
    color: #1b1a17;
    padding-bottom: 2rem;
    text-align: center;
  }
  .featured-tours__description {
    padding: 1.5rem;
    text-align: center;
  }
  .featured-tours__description li {
    padding: 1rem 0.5rem 0.5rem;
    font-size: 1.1rem;
    border-bottom: 2px solid #ff8303;
  }
  .cards__wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .card {
    position: relative;
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
    filter: blur(5px);
    transform: translateX(-100%);
    opacity: 0;
    transition: all 1s;
  }
  .card.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
  .card .front-side {
    position: relative;
    background-color: #fff;
    transition: 0.3s ease;
    z-index: 2;
    box-shadow: 0.5rem 0.5rem 0.5rem #777;
  }
  .card .front-side .img__wrapper {
    position: relative;
    width: 100%;
    height: 230px;
  }
  .card .front-side .img__wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 0.3rem 0.3rem 0 0;
    -o-object-fit: cover;
       object-fit: cover;
    filter: brightness(0.5);
    transition: 0.3s ease;
  }
  .card .front-side .img__wrapper img:hover {
    filter: brightness(1);
  }
  .card .front-side .img__wrapper .tour-name {
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    color: #fff;
    font-weight: 600;
    text-shadow: 0 0 1rem #1b1a17;
    text-transform: uppercase;
  }
  .card .front-side .switch-btn {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    font-weight: 700;
    border-radius: 50px;
    text-transform: uppercase;
  }
  .card .front-side .switch-btn i {
    padding-left: 0.3rem;
    font-size: 0.6rem;
  }
  .card .back-side {
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
    background-color: orange;
    border-radius: 0.3rem 0.3rem 0 0;
    opacity: 0.5;
    transition: 0.3s ease;
  }
  .card .back-side .switch-btn {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    font-weight: 700;
    border-radius: 50px;
    text-transform: uppercase;
  }
  .card .back-side .switch-btn i {
    padding-right: 0.3rem;
    font-size: 0.6rem;
  }
  .card .back-side p,
.card .back-side span {
    color: white;
  }
  .card .back-side span {
    font-size: 2.5rem;
  }
  .switch > .front-side {
    top: 1rem;
    left: 1rem;
    opacity: 0.8;
    box-shadow: none;
  }
  .switch > .back-side {
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 3;
    box-shadow: 0.5rem 0.5rem 0.5rem #777;
  }
  /**** About ****/
  .about {
    padding: 4rem 0;
  }
  .about__heading {
    text-align: center;
  }
  .about__items {
    width: 100%;
    padding: 2rem 0;
  }
  .about__items .img__wrapper {
    width: 100%;
  }
  .about__items .img__wrapper img {
    width: 100%;
  }
  .about__items .about__content {
    padding: 1.5rem 0.825rem 0;
  }
  .about__items .about__content h3 {
    text-align: center;
    padding-bottom: 1.2rem;
    color: #ff8303;
  }
  .about__items .about__content p {
    padding: 0.5rem 0;
  }
  .about__items .about__content .btn__wrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 2rem;
  }
  .about__items .about__content .btn__wrapper button {
    font-size: 1rem;
  }
  .about__items .about__content .btn__wrapper .btn-alt {
    border-color: #ff8303;
    color: #ff8303;
  }
  .about__items .about__content .btn__wrapper .btn-alt:hover {
    border-color: #ff8303;
    background-color: #ff8303;
    color: #fff;
  }
  .stats {
    width: 100%;
    padding-bottom: 4rem;
  }
  .stats .container {
    width: 100%;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  .stats .stat {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: rgba(255, 131, 3, 0.2);
  }
  .stats .stat span {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
  }
  .stats .stat span:nth-child(2) {
    color: #ff8303;
  }
  /**** Reviews ****/
  .reviews {
    padding: 4rem 0;
  }
  .reviews__heading {
    text-align: center;
    padding-bottom: 2.5rem;
  }
  .reviews__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    padding: 1rem;
  }
  .reviews__wrapper .review {
    position: relative;
    margin: 3rem auto 0;
    padding: 1rem;
    max-width: 300px;
    border: 0.3rem solid #ff8303;
    border-radius: 1rem;
    background-color: #eee;
    opacity: 0;
    transform: translateX(-100%);
    filter: blur(5px);
    transition: all 1s;
  }
  .reviews__wrapper .review.show {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
  .reviews__wrapper .review__img {
    position: absolute;
    top: -75px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 2rem;
    background-color: #ff8303;
    border: 0.4rem solid #ff8303;
  }
  .reviews__wrapper .review__img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .reviews__wrapper .review__text {
    padding-top: 75px;
    text-align: center;
  }
  .reviews__wrapper .review__text span {
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
  }
  .reviews__wrapper .review__text span:nth-child(1) {
    font-size: 1.5rem;
    font-weight: 600;
    color: #ff8303;
  }
  .reviews__wrapper .review__text span:nth-child(2) {
    font-size: 1rem;
    color: #777;
  }
  .reviews__wrapper .review__text p {
    padding-top: 1.5rem;
    font-size: 1rem;
  }
  .reviews__wrapper .review .rating {
    padding-top: 1.2rem;
    width: 100%;
    text-align: center;
  }
  .reviews__wrapper .review .rating .stars i {
    color: #ff8303;
  }
  /**** Contact ****/
  .contact {
    padding: 4rem 0;
  }
  .contact .container {
    padding: 0 20px;
  }
  .contact__text h2 {
    text-align: center;
    padding-bottom: 1rem;
  }
  .contact__text p {
    padding-bottom: 1rem;
  }
  .contact__info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 1.5rem 0;
  }
  .contact__info .social-media {
    display: flex;
    justify-content: center;
  }
  .contact__info .social-media span {
    padding-right: 1rem;
    font-weight: 700;
  }
  .contact__info-item {
    display: flex;
  }
  .contact__info-item .contact__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 1rem;
    padding: 1rem;
    border-radius: 50%;
    background-color: #ff8303;
  }
  .contact__info-item .contact__icon i {
    color: #fff;
  }
  .contact__info-item .info__text span {
    display: block;
  }
  .contact__info-item .info__text span:nth-child(1) {
    font-weight: bold;
  }
  .contact__info-item .info__text :not(span:nth-child(1)) {
    color: #777;
  }
  .contact__form {
    background-color: #ff8303;
    margin-top: 5rem;
    padding: 1rem;
    max-width: 420px;
    border-radius: 1rem;
  }
  .contact__form-item {
    position: relative;
    width: 100%;
    margin-top: 1rem;
  }
  .contact__form-item input,
.contact__form-item textarea {
    width: 100%;
    padding: 0.4rem;
    padding-left: 0.5rem;
    margin: 1rem 0;
    border: none;
    outline: none;
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    resize: none;
    border-radius: 2px;
  }
  .contact__form-item span {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 0.5rem;
    color: #666;
    font-size: 1rem;
    pointer-events: none;
    transition: 0.5s;
  }
  .contact__form-item textarea + span {
    top: 2rem;
  }
  .contact__form-item input:focus ~ span,
.contact__form-item input:valid ~ span,
.contact__form-item textarea:focus ~ span,
.contact__form-item textarea:valid ~ span {
    color: #fff;
    font-size: 1rem;
    transform: translateY(-3.3rem);
  }
  .contact__form h2 {
    margin: 2rem 0;
    color: #fff;
    text-align: center;
  }
  .contact__form button {
    display: block;
    margin: 1rem auto;
    font-weight: 600;
    width: 100%;
  }
  /**** Footer ****/
  .footer {
    position: relative;
    margin-top: 4rem;
    background: url("../images/contact-bg.webp") center no-repeat;
    background-size: cover;
    color: #fff;
    z-index: 5;
  }
  .footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 26, 23, 0.5);
  }
  .footer .container {
    position: relative;
    padding: 2rem 2rem 1rem;
  }
  .footer h3 {
    text-align: center;
    padding-bottom: 1rem;
  }
  .footer form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .footer form input {
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    outline: none;
  }
  .footer form button {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-size: 0.8rem;
    padding: 0.4rem 1rem;
  }
  .footer .copyright {
    padding-top: 2rem;
  }
  .footer .copyright .social-media {
    text-align: center;
  }
  .footer .copyright .social-media a i {
    padding: 0.3rem;
    color: #ff8303;
  }
  .footer .copyright .social-media a i:hover {
    transform: scale(1.05);
  }
  .footer .copyright p {
    padding-top: 1.5rem;
    font-size: 0.8rem;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  .nav .nav__menu {
    position: static;
    height: auto;
    display: flex;
    border-top: none;
    width: auto;
    padding: 0;
  }
  .nav .nav__menu-item {
    padding: 0;
  }
  .nav .nav__menu-item a {
    font-size: 0.8rem;
    padding: 0 0.5rem;
  }
  .nav .nav__menu .social-media {
    display: none;
  }
  .nav .nav__btn {
    display: none;
  }
  .hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero__text {
    max-width: 600px;
    text-align: center;
  }
  .featured-tours .cards__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 700px;
    gap: 2rem;
    margin: 0 auto;
  }
  .about .container {
    padding-left: 50px;
    padding-right: 50px;
  }
  .about__items {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  .about__items .img__wrapper {
    width: 40%;
    height: 100%;
  }
  .about__items .img__wrapper img {
    height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: right;
       object-position: right;
  }
  .about__items .about__content {
    width: 60%;
  }
  .stats .container {
    flex-direction: row;
  }
  .reviews__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 700px;
    gap: 2rem;
    margin: 0 auto;
  }
  .reviews .review__text p {
    font-size: 0.8rem;
  }
  .contact .container {
    padding: 0 3rem;
  }
  .contact__text {
    max-width: 700px;
    margin: 0 auto;
  }
  .contact__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .contact__wrapper .contact__info .info__text span {
    font-size: 0.9rem;
  }
  .contact__wrapper .contact__form {
    width: 50%;
    padding-top: 0;
    margin-top: 0;
  }
  .contact__wrapper .contact__form input,
.contact__wrapper .contact__form textarea {
    margin: 0.5rem 0;
    font-size: 0.8rem;
  }
  .contact__wrapper .contact__form-item span {
    font-size: 0.8rem;
  }
  .contact__wrapper .contact__form-item textarea + span {
    top: 1.5rem;
  }
  .contact__wrapper .contact__form-item input:focus ~ span,
.contact__wrapper .contact__form-item input:valid ~ span,
.contact__wrapper .contact__form-item textarea:focus ~ span,
.contact__wrapper .contact__form-item textarea:valid ~ span {
    font-size: 0.8rem;
    transform: translateY(-3rem);
  }
  .contact button {
    font-size: 0.8rem;
  }
  .footer {
    text-align: center;
  }
  .footer .container {
    padding: 2rem 3rem 1rem;
  }
  .footer form {
    flex-direction: row;
    justify-content: center;
    padding-top: 1rem;
  }
  .footer form input {
    max-width: 400px;
    width: 100%;
    margin-top: 0;
    font-size: 0.8rem;
  }
  .footer form button {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 1024px) {
  .featured-tours .cards__wrapper {
    max-width: 1000px;
  }
  .featured-tours .cards__wrapper .card:nth-of-type(1) {
    transition-delay: 0.3s;
  }
  .featured-tours .cards__wrapper .card:nth-of-type(2) {
    transition-delay: 0.5s;
  }
  .featured-tours .cards__wrapper .card:nth-of-type(3) {
    transition-delay: 0.7s;
  }
  .featured-tours .cards__wrapper .featured-tours__description li {
    font-size: 0.9rem;
  }
  .reviews__wrapper {
    max-width: 1100px;
    gap: 1.5rem;
    margin-top: 2.5rem;
  }
  .reviews__wrapper .review {
    margin: 0;
  }
  .reviews__wrapper .review__text span:nth-child(1) {
    font-size: 1.3rem;
    font-weight: 600;
    color: #ff8303;
  }
  .reviews__wrapper .review__text span:nth-child(2) {
    font-size: 0.8rem;
    color: #777;
  }
  .reviews__wrapper .review:nth-of-type(1) {
    transition-delay: 0.3s;
  }
  .reviews__wrapper .review:nth-of-type(2) {
    transition-delay: 0.5s;
  }
  .reviews__wrapper .review:nth-of-type(3) {
    transition-delay: 0.7s;
  }
  .reviews__wrapper .rating span {
    font-size: 0.9rem;
  }
  .reviews__wrapper .rating .stars i {
    font-size: 0.8rem;
  }
  .contact__wrapper {
    margin-top: 2rem;
  }
}/*# sourceMappingURL=styles.css.map */